<h2><a href="#"><strong><%= @user.username %></strong></a> Matchups</h2>

<% @user.matchups.each do |user_matchup| %>
  <ul>
    <li>
      <h3><a href="/matchups/<%= user_matchup.id %>"><strong><%= user_matchup.user.username %> vs. <%= user_matchup.opp_name %></strong></a></h3>
      <p><%= user_matchup.score %> - <%= user_matchup.opp_score %></p>
      <h4><%= user_matchup.system %></h4>
      <p>posted: <%= user_matchup.created_at %></p>
      <h2></h2>
    </li>
  </ul>
<% end %>
<br>
<% if current_user.id == @user.id %>
  <form action="/users/<%= "#{@user.id}" %>/delete" method='post' >
    <input type='hidden' name='_method' value='delete'>
    <input type='submit' name='delete' value='Delete Profile' class="btn btn-danger">
  </form>
<% end %>
<br>
<img src="https://thumbor.forbes.com/thumbor/960x0/https%3A%2F%2Fblogs-images.forbes.com%2Fbrianmazique%2Ffiles%2F2018%2F10%2FXSplit-2018-10-14_23-40-45.jpg" alt="" id="bg-vid">
