<h2>Edit <%= @matchup.user.username %>'s Moment</h2>
<br>
<form action="/matchups/<%= "#{@matchup.id}" %>" method="post">
    <label for="opp_name">Opponent Name:</label>
    <input type="text" name="opp_name" value="<%= @matchup.opp_name %>" id="opp_name"><br>

    <label for="team">Team Chosen:</label>
    <input type="text" name="team" value="<%= @matchup.team %>" id="team"><br>

    <label for="opp_team">Opponent Team:</label>
    <input type="text" name="opp_team" value="<%= @matchup.opp_team %>" id="opp_team"><br>

    <label for="score">Your Score:</label>
    <input type="text" name="score" value="<%= @matchup.score %>" id="score"><br>

    <label for="opp_score">Opponents Score::</label>
    <input type="text" name="opp_score" value="<%= @matchup.opp_score %>" id="opp_score"><br>

    <label for="system">System:</label>
    <input type="text" name="system" value="<%= @matchup.system %>" id="system"><br>

    <h3>Game Commentary:</h3>
    <textarea name="description" id="description" rows="10" cols="50"><%= @matchup.description %></textarea><br>
    <br>
    <input type='hidden' name='_method' value='patch'>
    <input type="submit" value="Submit" class="btn btn-primary">
</form>

<img src="https://stickskills.com/wp-content/uploads/2019/01/madden-19-january-title-update.jpg" alt="" id="bg-vid">
