<h1>MADDEN MOMENTS</h1>
<br>
<% @matchups.each do |matchup| %>
    <ul>
      <li>
        <hr>
        <h3><a href="/matchups/<%= matchup.id %>"><%= matchup.user.username %> vs. <%= matchup.opp_name %></a></h3>
        <p><%= matchup.score %> - <%= matchup.opp_score %></p>
        <h4><%= matchup.system %></h4>
        <p>posted by <a href="/users/<%= matchup.user_id %>"><%= matchup.user.username %></a> at: <%= matchup.created_at %></p>
      </li>
    </ul>
<% end %>
<img src="https://media.playstation.com/is/image/SCEA/madden-nfl-20-juju-screen-01-ps4-us-23apr19?$native_nt$" alt="" id="bg-vid">
