<h1><strong>Madden<img id="nfl-index" src="http://pluspng.com/img-png/nfl-logo-vector-png-nfl-logo-vector-logo-nfl-png-800.png" alt="">Matchups</strong></h1>
<% @matchups.each do |matchup| %>
    <ul>
      <li>
        <h2></h2>
        <h1><a href="/matchups/<%= matchup.id %>"><strong><%= matchup.user.username %></strong></a></h1>vs.<h3><%= matchup.opp_name %></h3>
        <p><%= matchup.score %> - <%= matchup.opp_score %></p>
        <h4><%= matchup.system %></h4><br>
        <p>posted by <a href="/users/<%= matchup.user_id %>"><strong><%= matchup.user.username %></strong></a> at: <%= matchup.created_at %></p>
      </li>
    </ul>
<% end %>
<img src="https://media.playstation.com/is/image/SCEA/madden-nfl-20-juju-screen-01-ps4-us-23apr19?$native_nt$" alt="" id="bg-vid">
