<h2><a href="/users/<%= @matchup.user_id %>"><%= @matchup.user.username %></a>'s Madden Moment</h2>
<h4><%= @matchup.system %></h4>
<br>
<h1>vs <%= @matchup.opp_name %></h1>
<br>
<table style="width:100%">
  <tr>
    <th><h3>Team Chosen</h3></th>
    <th><h3>Opponents Team</h3></th>
    <th><h3>My Score</h3></th>
    <th><h3>Opponents Score</h3></th>
  </tr>
  <tr>
    <td><%= @matchup.team %></td>
    <td><%= @matchup.opp_team %></td>
    <td><%= @matchup.score %></td>
    <td><%= @matchup.opp_score %></td>
  </tr>
</table>
<br>
<h2>Description:</h2>
<p><%= @matchup.description %></p><br>
<h5>created at: <%= @matchup.created_at %></h5>
<br>
<% if current_user.id == @matchup.user_id %>
  <a href="/matchups/<%= "#{@matchup.id}" %>/edit">Edit Moment</a><br>
  <br>
  <form action="/matchups/<%= "#{@matchup.id}" %>/delete" method="post">
    <input type='hidden' name='_method' value='delete'>
    <input type="submit" value="Delete Moment">
  </form>
<% end %>
