<!-- user -->
<h2><a href="/users/<%= @matchup.user_id %>"><strong><%= @matchup.user.username %></strong></a>'s Madden Moment</h2>
<!-- system -->
<h4><%= @matchup.system %></h4>

<br>

<!-- opp_name -->
<h1>vs <a href="#"><strong><%= @matchup.opp_name %></strong></a></h1>

<br>

<!-- matchup table -->
<table style="width:100%">
  <tr>
    <th><h3>Team Chosen</h3></th>
    <th><h3>Opponents Team</h3></th>
    <th><h3>My Score</h3></th>
    <th><h3>Opponents Score</h3></th>
  </tr>
  <tr>
    <td><strong><%= @matchup.team %></strong></td>
    <td><strong><%= @matchup.opp_team %></strong></td>
    <td><strong><%= @matchup.score %></strong></td>
    <td><strong><%= @matchup.opp_score %></strong></td>
  </tr>
</table><br>

<br>

<!-- description -->
<h2>Description:</h2>
<h5><strong><%= @matchup.description %></strong></h5><br>
<p>created at: <%= @matchup.created_at %></p>

<!-- edit/delete buttons -->
<% if current_user.id == @matchup.user_id %>
  <a href="/matchups/<%= "#{@matchup.id}" %>/edit" class="btn btn-primary">Edit Matchup</a><br>
  <br>
  <form action="/matchups/<%= "#{@matchup.id}" %>/delete" method="post">
    <input type='hidden' name='_method' value='delete'>
    <input type="submit" value="Delete Matchup" class="btn btn-danger">
  </form>
<% end %>

<!-- background images -->
<img src="https://www.whitewolfsports.com/wp-content/uploads/2019/02/oLFNZ2lPFZ6Zjl8E4jHz.jpg" alt="" id="bg-vid">
